<div class="container">
  <div  [hidden]="submitted">
    <h1>User Form</h1>
    <!--add -->
    
        
      <div class="form-group">
        <label for="name">Name</label>
        <!--add -->
        
      </div>
        
      <div class="form-group">
        <label for="phone">Phone</label>
        <!--add -->
        
      </div>
        
      <div class="form-group">
        <label for="address">Address</label>
        <!--add -->
        
      </div>
      <!--add -->
      
        
    </form>
  </div>
    
  <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <!--add-->
    
  </div>
</div>

